@model BiografiaAspNet.Models.ExpProfissional

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <h4>ExpProfissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DadosPessoais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DadosPessoais.DadosPessoaisID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcoes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExpProfissionalID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="DadosPessoais" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i></a>
    </form>
</div>
