@*@model IEnumerable<BiografiaAspNet.Models.ExpProfissional>

@{
    ViewData["Title"] = "Experiência Profissional";
}

<h1>Experiência Profissional</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; Adicionar Expêriencia Profissional</a>
</p>

<div class="container p-3">
    <div class="row pt-4">
        <div class=" col-6">
            <h2>Dados Pessoais</h2>
        </div>
    </div>

    <br />

    @if (Model.Count() == 0)
    {
        <p>Adicione Experiencia Pofissional</p>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Entidade
                    </th>
                    <th>
                        Período de Exercicio de Funções
                    </th>
                    <th>
                        Funções
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expProfissional in Model)
                {
                    <tr>
                        <td>
                            @expProfissional.Nome.DadosPessoaisID
                        </td>
                        <td>
                            @expProfissional.DadosPessoais
                        </td>
                        <td>
                            @expProfissional.Entidade
                        </td>
                        <td>
                            @expProfissional.Periodo
                        </td>
                        <td>
                            @expProfissional.Funcoes
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@expProfissional.ExpProfissionalID" class="btn btn-warning"><i class="fas fa-edit"></i></a> |
                            <a asp-action="Delete" asp-route-id="@expProfissional.ExpProfissionalID" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div>
        <a asp-action="Index" asp-controller="DadosPessoais" class="btn btn-primary">Voltar aos Curriculos</a>
    </div>

</div>*@
