@model BiografiaAspNet.Models.DadosPessoais

@{
    ViewData["Title"] = "Details";
}

<h1>Experiência Profissional</h1>
<p class="text-right">
    <a asp-action="Create" asp-controller="ExpProfissional" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; Adicionar Experiência Profissional</a>
</p>
<div>
    <h2>@Html.DisplayFor(m => Model.Nome)</h2>
    <div style="width:150px;">
        @if (Model.Foto != null)
        {
            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Foto)" class="img-fluid" />
        }
    </div>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Entidade Empregadora</th>
                <th>Período de Exercicio de Funções</th>
                <th>Funções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ExpProfissionais)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Entidade)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Periodo)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Funcoes)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-controller="ExpProfissional" asp-route-id="@item.ExpProfissionalID" class="btn btn-warning"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Delete" asp-controller="ExpProfissional" asp-route-id="@item.ExpProfissionalID" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="DadosPessoais">Voltar aos Curriculos</a>
</div>
