@model ListaDadosPessoaisViewModel

@{
    ViewData["Title"] = "Currículos";
}

<h1>@ViewBag.Title</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class=" col-6">
            <h2>Dados Pessoais</h2>
        </div>
    </div>

    <br />

    @if (Model.DadosPessoais.Count() == 0)
    {
        <p>Não existe nenhum currículo</p>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Data de Nascimento
                    </th>
                    <th>
                        Naturalidade
                    </th>
                    <th>
                        Nacionalidade
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dadosPessoais in Model.DadosPessoais)
                {
                    <tr>
                        <td>
                            @dadosPessoais.Nome
                        </td>
                        <td>
                            @dadosPessoais.DataNascimento
                        </td>
                        <td>
                            @dadosPessoais.Naturalidade
                        </td>
                        <td>
                            @dadosPessoais.Nacionalidade
                        </td>
                        <td class="text-center">
                            <a asp-action="DetailsAll" asp-route-id="@dadosPessoais.DadosPessoaisID" class="btn btn-primary btn btn-info">Experiência Profissional</a>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                @{ int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS / 2;
                    if (paginaInicial < 1)
                    {
                        paginaInicial = 1;
                    }

                    int paginaFinal = paginaInicial + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS - 1;
                    if (paginaFinal > Model.Paginacao.TotalPaginas)
                    {
                        paginaFinal = Model.Paginacao.TotalPaginas;
                    }
                }

                <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="IndexAll" asp-route-pagina="1">Inicial</a>
                </li>
                @for (int i = paginaInicial; i <= paginaFinal; i++)
                {
                    <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                        <a class="page-link" asp-action="IndexAll" asp-route-pagina="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas ? "disabled" : "")">
                    <a class="page-link" asp-action="IndexAll" asp-route-pagina="@Model.Paginacao.TotalPaginas">Última</a>
                </li>

                @*<li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                            <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                        </li>

                        @for (int i = paginaInicial; i <= paginaFinal; i++)
                        {
                            <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                            </li>
        }

                        <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                        </li>*@
            </ul>
        </div>}
</div>


