@model ListaDadosPessoaisViewModel

@{
    ViewData["Title"] = "Currículos";
}

<h1>@ViewBag.Title</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; Novo Currículo</a>
</p>

    <div class="card border-info mb-1">
    <div class="card-body">
        <h5 class="card-title">Pesquisa</h5>
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label for="nomePesquisar" class="control-label">Nome</label>
                <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
            </div>
            <div class="form-group">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-eraser"></i></a>
            </div>
        </form>
    </div>
</div>


    @if (Model.DadosPessoais.Count() == 0)
    {
        <p>Não existe nenhum currículo</p>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Data de Nascimento
                    </th>
                    <th>
                        Naturalidade
                    </th>
                    <th>
                        Nacionalidade
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dadosPessoais in Model.DadosPessoais)
                {
                    <tr>
                        <td>
                            @dadosPessoais.Nome
                        </td>
                        <td>
                            @dadosPessoais.DataNascimento
                        </td>
                        <td>
                            @dadosPessoais.Naturalidade
                        </td>
                        <td>
                            @dadosPessoais.Nacionalidade
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@dadosPessoais.DadosPessoaisID" class="btn btn-primary btn btn-info">Experiência Profissional</a>

                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@dadosPessoais.DadosPessoaisID" class="btn btn-warning"><i class="fas fa-edit"></i></a> |
                            <a asp-action="Delete" asp-route-id="@dadosPessoais.DadosPessoaisID" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                @{ int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS / 2;
                    if (paginaInicial < 1)
                    {
                        paginaInicial = 1;
                    }

                    int paginaFinal = paginaInicial + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS - 1;
                    if (paginaFinal > Model.Paginacao.TotalPaginas)
                    {
                        paginaFinal = Model.Paginacao.TotalPaginas;
                    }
                }

                <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Inicial</a>
                </li>
                @for (int i = paginaInicial; i <= paginaFinal; i++)
                {
                    <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                    </li>
                }
                <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Última</a>
                </li>
            </ul>
        </div>
    }

</div>


